<div class="container">
    <div class="content">
        <div class="section">
            <h2 style="text-align: center;">VMS</h2>
            <p>Nous allons désormais parler des différentes étapes et les différentes choses que j'ai pu accomplir durant le développment du Projet Meta Manager chez VMS</p>
        </div>

        <div class="section">
            <div class="experience">
                <h3>1.Conception et développement d'un site vitrine pour un jeu vidéo de football innovant basé sur la
                    blockchain (Three.js/React.js)</h3>
                <p>Conception : J'ai défini l'architecture du site, sélectionné les technologies appropriées et
                    élaboré des maquettes pour le front-end, en me concentrant sur une expérience
                    utilisateur (UX) intuitive et engageante. Cela a impliqué des réunions avec les parties prenantes
                    pour comprendre leurs besoins et objectifs, suivies de la rédaction de spécifications techniques
                    détaillées.
                </p>
                <p>Développement : Utilisation de React.js pour construire une interface utilisateur dynamique et
                    réactive. Intégration de Three.js pour la visualisation 3D, permettant aux utilisateurs de voir des
                    démonstrations interactives des fonctionnalités du jeu.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="experience">
                <h3>2.Programmation de divers effets visuels, dont la gestion dynamique des lumières selon les zones et un système de particules réagissant à la souris</h3>
                <p>Gestion dynamique des lumières : Création d'un script en JavaScript/Three.js pour ajuster l'éclairage
                    des scènes 3D en fonction des interactions des utilisateurs ou de leur progression dans le site.
                    Cela implique des calculs pour modifier l'intensité, la couleur et la direction de l'éclairage basés
                    sur la position de l'utilisateur dans l'environnement virtuel.
                </p>
                <p>
                    Système de particules réactif : Développement d'un système interactif où les particules réagissent à
                    la
                    position de la souris. Cela améliore l'engagement en permettant aux utilisateurs de "jouer" avec
                    l'interface en déplaçant leur curseur, créant ainsi des effets visuels attrayants qui dynamisent
                    l'interface.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="experience">
                <h3>3.Création d'une caméra animée en fonction du défilement pour une expérience utilisateur immersive
                </h3>
                <p>Animation de la caméra : Programmation d'une caméra 3D qui se déplace automatiquement en fonction du
                    défilement de l'utilisateur sur le site. Utilisation de JavaScript et de Three.js pour synchroniser
                    le mouvement de la caméra avec le scroll, ce qui permet de créer une narration visuelle et de guider
                    l'utilisateur à travers le contenu de manière fluide et immersive.</p>
            </div>
        </div>
        <div class="section">
            <div class="experience">
                <h3>4.Optimisation minutieuse des textures et du chargement du modèle pour garantir des performances
                    optimales</h3>
                <p>Optimisation des textures : Réduction de la taille des textures sans perdre en qualité visuelle,
                    utilisation de techniques de compression et de mipmaps pour améliorer les temps de chargement et les
                    performances du site.
                </p>
                <p>
                    Optimisation du chargement : Mise en œuvre du lazy loading et de l'asynchrone pour les modèles 3D et
                    les ressources, ce qui assure que le site reste réactif et rapide même lorsque de grandes quantités
                    de données 3D sont chargées.
                </p>
            </div>
        </div>
    </div>
</div>