<div class="container">
    <div class="content">
        <div class="section">
            <h2 style="text-align: center;">JYC Consulting</h2>
            <p>Nous allons désormais parler des différentes étapes et les différentes choses que j'ai pu accomplir
                durant le développment de mon stage de premier année</p>
        </div>

        <div class="section">
            <div class="experience">
                <h3>1. Conception de la plateforme</h3>
                <p>Étude des besoins et spécifications : Analyse des besoins des utilisateurs pour le transfert et le
                    partage de fichiers, incluant la sécurité, la vitesse de transfert, et l'interface utilisateur.
                    Rédaction des spécifications fonctionnelles et techniques qui guident le développement de la
                    plateforme.
                </p>
                <p>Architecture logicielle : Choix de l'architecture microservices pour faciliter la scalabilité et la
                    maintenance du système. Définition des services et de leur interaction, avec une attention
                    particulière sur l'API de transfert de fichiers et les mécanismes d'authentification.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="experience">
                <h3>2. Développement Front-End avec React.js
                </h3>
                <p>Interface Utilisateur (UI) : Création d'une interface utilisateur réactive et intuitive avec
                    React.js. Conception de composants réutilisables pour divers éléments de l'interface tels que les
                    boutons de téléchargement, les barres de progression et les notifications.
                </p>
                <p>
                    Interaction utilisateur : Développement des fonctionnalités permettant aux utilisateurs de
                    télécharger, consulter et partager des fichiers. Implémentation de la drag-and-drop functionality
                    pour une expérience utilisateur améliorée.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="experience">
                <h3>3. Développement Back-End avec Golang
                </h3>
                <p>Serveur de fichiers : Configuration du serveur en Golang pour gérer les requêtes de téléchargement et
                    d'envoi de fichiers.</p>
                <p>Gestion des données : Intégration d'une base de données pour stocker les informations sur les
                    fichiers et les utilisateurs. Conception de modèles de données et implémentation des mécanismes pour
                    sécuriser les données contre des accès non autorisés</p>
            </div>
        </div>
    </div>
</div>