<div class="container">
    <div class="content">
        <div class="section">
            <h2 style="text-align: center;">Profil Professionnel</h2>
            <p>Actuellement en dernière année à EPITECH Paris, je recherche un stage de fin d’études de 6 mois en
                développement web à partir d’Avril 2024. Doté d'un sens de l'autonomie et du détail, je suis tout aussi
                à l'aise en équipe qu'en solo. Ma passion pour le développement web et la gestion de projet s'harmonise
                parfaitement avec ma curiosité professionnelle et mon engagement à relever de nouveaux défis. Au cours
                de mon parcours à EPITECH, j'ai acquis une solide expérience en programmation avec divers langages tels
                que React.js, Node.js, ou bien Flutter.
                J'ai également eu l'occasion de travailler sur plusieurs projets d'équipe, où j'ai pu affiner mes
                compétences en gestion de projet et en collaboration.</p>

                <p>Motivé par l'innovation et la création de solutions efficaces, je recherche une opportunité de stage où
                    je pourrais non seulement appliquer mes compétences techniques, mais aussi continuer à apprendre et à
                    évoluer dans un environnement dynamique et stimulant. Je suis particulièrement intéressé par les
                    entreprises qui valorisent la créativité, l'innovation, et qui offrent un cadre propice à
                    l'expérimentation et à l'amélioration continue des processus.</p>

                <p>Mon objectif est de contribuer activement aux projets de développement web de votre entreprise, tout en
                    acquérant une expérience précieuse qui me préparera à entamer une carrière fructueuse dans le secteur
                    technologique. Je suis convaincu que mon esprit d'équipe, ma rigueur et mon enthousiasme seront des
                    atouts précieux pour votre équipe.</p>
                
        </div>
    </div>